body {
  background-image: url('/assets/bg.png'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  max-width: 700px;  
} 

.card {
  border-radius: 20px;  
  background-color: #000000;
  color: white;
}

.card-body {
  padding: 10px;  
}

h3.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}


.bttn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #27ae60;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  
}

.bttn:hover {
  background-color: #55efc4;
  color: #000000;
}

.bttn i, .bttn .material-icons {
  margin-right: 8px;
  
}

@media (max-width: 768px) {
  .bttn {
    top: 10px;
    right: 10px;
    padding: 8px 16px;
  }
}




