.dashboard {
    margin: 20px;
    margin-left: 300px;
    max-width: calc(100% - 300px);
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url('/assets/bg.png');
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
}

.card {
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total-profits {
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0;
    font-size: 1.5rem;
}

.card p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card i {
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 0.5rem; 
}




@media (max-width: 1200px) {
    .row {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .dashboard {
        margin-left: 0; 
        max-width: 100%;
    }

    .row {
        grid-template-columns: repeat(2, 1fr); 
    }

    .total-profits {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .row {
        grid-template-columns: 1fr; 
    }
}
